//cart.html start//


.cart-image{
    height: 110px;
    min-width: 110px;
}

.cart-image-sm{
    
    height: 80px;
}
.cart-infor{
    
}

.cart .form-control{
   
}
.cart .cart-control .input-group{
    width: 144px;
}
.cart .cart-control .text-center{
    width: 48px;
    height: calc(1rem + 30px + 2px);
}

.cart .cart-control .number{
    text-align: center;
    width: 40px;
    height: calc(1rem + 30px + 2px);
}