//register.html start//

.login .form-check-input{
    width: 18px;
    height: 18px;
}

.login .login-btn{
    left:0;
    right:0;
    bottom:0;
}

.btn-brand-light{
    color: #212529;
    background-color: #fff;
    border-color: $primary-lighter;
}

.community .btn.btn-brand-light{
    
    height: 64.94px;
}
//register.html end//